[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fixtrate = {editable = true,path = "."}

[dev-packages]
ipython = "*"
pytest-profiling = "*"
snakeviz = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
twine = "*"
pytest = "==3.6.3"
pytest-asyncio = "==0.8.0"

[requires]
python_version = "3.6.5"
