[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simplefix = "*"
"e1839a8" = {path = ".", editable = true}
jsonschema = "*"

[dev-packages]
ipython = "*"
pytest = "*"

[requires]
python_version = "3.6"
